* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Sonictitle;
  src: url(/assets/fonts/Sonic-title.ttf);
}

body {
  font-family: "Grandstander", cursive;
}

.sonic-logo {
  font-size: 8px;
  font-family: Sonictitle;
  display: flex;
  color: rgb(95, 111, 255);
  width: 80vw;
}
.sonic-logo img {
  height: 70px;
  width: auto;
  cursor: pointer;
}

#sonic-product {
  height: 450px;
  width: auto;
  margin: 5% 10%;
}

#sonic-text-logo {
  margin-top: 17px;
  margin-left: 16px;
}
header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 234, 167, 0.863);
  position: relative;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 35vw;
  font-size: 20px;
  font-weight: bold;
}

li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: rgb(81, 96, 226);
}
.features {
  display: flex;
}

h2 {
  float: inline-start;
}
